{% extends 'AppBundle::base.html.twig' %}

{% block pageContainer %}

    <section>
        <h2>Błąd 404</h2>
        <hr>
        <p>
            Nie znaleziono szukanej strony.
        </p>      
        <p>
            <a href="{{ path('app_homepage') }}">Przejdź do strony głównej</a>
        </p>
    </section>

{% endblock %}