{% extends 'base.html.twig' %}

{% block pageContainer %}

    <section>
        <h2>Wystąpił błąd</h2>
        <hr>     
        <p>
            <a href="{{ path('app_homepage') }}">Przejdź do strony głównej</a>
        </p>
    </section>

{% endblock %}