<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <li class="current"><a href="{{ path('admin_homepage') }}"><i class="glyphicon glyphicon-dashboard"></i> Kokpit</a></li>
        <li><a href="{{ path('admin_caps_list') }}"><i class="glyphicon glyphicon-list"></i> Zarządzanie kapslami</a></li>
    </ul>
</div>