{% extends 'AdminBundle::base.html.twig' %}

{% block pageContent %}
    
<div class="content-box-large">
    
    <div class="panel-heading">
        <div class="panel-title">Witamy w panelu administracyjnym</div>
    </div>

    <div class="panel-body">
        
    </div>
    
</div>

{% endblock %}
