#map-wrapper {
    height: 300px
}
#map {
    height: 100%;
}
header {
    background-color: #222;
    border-color: #090909;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}
header h1 a {
    color: #9D9D9D;
    padding: 0px 5px;
    display: block;
}
header h1 a:hover, header h1 a:focus {
    color: #9D9D9D;
    text-decoration: none;
}
header #search-form-wrapper {
    margin-top: 20px;
    overflow: hidden;
    height: 100%;
}
footer {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
    padding: 20px 0;
    height: 100%;
    overflow: hidden;
}
div.navbar-form {
    padding: 10px 15px !important;
}
div.navbar-form form {
    float: left;
}
.listing {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
}
.listing li .item {
    padding: 0px 18px 20px;
}
.listing li .item a {
    position: relative;
    display: block;
    text-decoration: none;
}
.item a .item-name {
    clear: both;;
    color: #000;
}
.item a .img-thumb {
    display: block;
    margin: 0px auto;
    max-width: 100%;
    border: none;
}
#caps-card h1 {
    font: 1.286em;
    margin: 8px 0px 6px;
}
#footer-newsletter-container {
    padding-bottom: 10px;
}
#footer-newsletter-container label {
    font-weight: normal;
    margin-right: 5px;
}
footer ul {
    padding-left: 10px;
}
.social a img {
    display: block; 
    float: left;
    margin-right: 10px;
}
.clear {
    clear: both;    
}
.breweries-index p {
    margin: 0px 3px 0px 6px;
}
.autocomplete-suggestions { 
    border: 1px solid #999; 
    background: #FFF; 
    overflow: auto; 
}
.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
}
.autocomplete-selected { 
    background: #F0F0F0; 
}
.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399FF; 
}
.autocomplete-group { 
    padding: 2px 5px; 
}
.autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
}