.dm-custom-table {
    margin-top: 10px;
}
.dm-table-action {
    margin-bottom: 20px;
}
.clear {
    clear: both;
}
.no-padding {
    padding: 0px !important;
}
footer {
    color: white;
    margin: 10px 0;
}
.form-row {
    height: 100%;
    overflow: hidden;
}
.warning-text {
    color: darkred;
}
.admin-cap-image {
    max-width: 100px;
    height: auto;
}