{% extends "AdminBundle::login.html.twig" %}

{% block pageContent %}        

    <div class="login-panel panel panel-default">            
        
        <div class="panel-heading">
            <h3 class="panel-title">Logowanie</h3>
        </div>
        <div class="panel-body">
            {% include 'AppBundle:Partials:flashMsg.html.twig' %}
            {% form_theme loginForm 'AdminBundle:Form:form_theme.html.twig' %}
            {{ form(loginForm, {'action' : path("_check_path")}) }}
        </div>
    </div>

{% endblock %}