{% extends 'Frontend/base.html.twig' %}

{% block headTitle %}
    {{  'Kontakt | ' ~ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li>Kontakt</li>
{% endblock %}

{% block pageContainer %}

    <section id="contact">
        <h2>Kontakt</h2>
        
        {% include 'Frontend/Partials/flashMsg.html.twig' %}
        {% form_theme contactForm 'bootstrap_3_layout.html.twig' %}
        {{ form(contactForm) }}
        
    </section>

{% endblock %}